.profile {
  margin-top: 100px;
  width: 800px;
  text-align: center;
  font-size: 20px;
}
.profile > div {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.profile-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.introduce-main {
  display: flex;
  justify-content: center;
}
