@import "reset.css";
@import "introduce.css";

body {
  color: white;
  background-color: black;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: white;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px 0;
}

.nav__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__right div {
  margin-right: 20px;
  font-weight: 800;
}

.nav__right button {
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  background-color: white;
  text-transform: uppercase;
  font-weight: 800;
}
nav .signup-btn {
  background-color: tomato;
  color: white;
}
.search-form {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  color: black;
  align-items: center;
}
.search-form i {
  position: relative;
  right: -30px;
}
.search-form input {
  width: 90%;
  border-radius: 20px;
  height: 40px;
  padding: 0 35px;
}

.logo {
  width: 200px;
  height: 50px;
  object-fit: cover;
}

.carousel {
  margin-top: 50px;
}

.main__title {
  font-size: 25px;
  text-align: center;
  padding: 200px 0;
}

.bricks {
  display: flex;
  /* 줄바꿈 허용 */
  flex-wrap: wrap;
  flex-direction: column;
  /* gap: 30px; */
  max-height: 1300px;
  max-width: 1000px;
  align-items: center;
  margin: 0 auto;
}

.bricks div {
  width: 320px;
  background-color: #fff;
  color: black;
  text-align: center;
  margin: 0 1rem 2rem 0;
  border-radius: 15px;
}
.bricks div img {
  width: 100%;
  height: 100%;
  border-radius: 15px;

  object-fit: cover;
}

.bricks div:nth-child(1) {
  height: 400px;
  line-height: 400px;
}
.bricks div:nth-child(2) {
  height: 300px;
  line-height: 300px;
}
.bricks div:nth-child(3) {
  height: 500px;
  line-height: 500px;
}

.bricks div:nth-child(4) {
  height: 350px;
  line-height: 350px;
}
.bricks div:nth-child(5) {
  height: 200px;
  line-height: 200px;
}

.bricks div:nth-child(6) {
  height: 300px;
  line-height: 300px;
}
.bricks div:nth-child(7) {
  height: 250px;
  line-height: 250px;
}

.bricks div:nth-child(8) {
  height: 200px;
  line-height: 200px;
}
.bricks div:nth-child(9) {
  height: 400px;
  line-height: 400px;
}
.bricks div:nth-child(10) {
  height: 300px;
  line-height: 300px;
}
.bricks div:nth-child(11) {
  height: 200px;
  line-height: 200px;
}
footer {
  display: flex;
  justify-content: center;
  color: #8a8887;
}

.footer-container {
  /* max-width: 1400px; */
}
.first-line {
  display: flex;
  padding: 30px 0;
  text-transform: uppercase;
  justify-content: space-between;
  font-weight: 800;
  font-size: 13px;
}
.first-line .links a {
  margin-right: 30px;
}

.first-line .icons i {
  margin-right: 20px;
  font-size: 18px;
  cursor: pointer;
}
.first-line .icons i:hover {
  color: tomato;
}
.second-line {
  display: flex;
  padding: 30px 0;
  border-top: 1px solid rgba(211, 211, 211, 0.3);
  font-size: 14px;
}
.second-line div {
  margin-right: 10px;
}
.second-line div:last-child {
  font-size: 11px;
}
