@import "introduce.css";

body {
  color: white;
  background-color: black;
}
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: white;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px 0;
}

.nav__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__right div {
  margin-right: 20px;
  font-weight: 800;
}

.nav__right button {
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  text-transform: uppercase;
  font-weight: 800;
}
nav .signup-btn {
  background-color: tomato;
  color: white;
}
.search-form {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  color: black;
  align-items: center;
  position: relative;
  padding: 12px 8px;
}
.search-form i {
  position: absolute;
  left: 25px;
}
.search-form input {
  width: 100%;
  border-radius: 20px;
  height: 40px;
  padding: 0 35px;
}
.search-form input:focus {
  outline: none;
}

.logo {
  width: 200px;
  height: 50px;
  object-fit: cover;
}

.carousel {
  margin-top: 50px;
}

.main__title {
  font-size: 25px;
  text-align: center;
  padding: 200px 0;
}

.bricks {
  display: flex;
  /* 줄바꿈 허용 */
  flex-wrap: wrap;
  flex-direction: column;
  /* gap: 30px; */
  max-height: 1300px;
  max-width: 1000px;
  align-items: center;
  margin: 0 auto;
}

.bricks div {
  width: 30%;
  background-color: #fff;
  color: black;
  text-align: center;
  margin: 0 1rem 2rem 0;
  border-radius: 15px;
}
.bricks div img {
  width: 100%;
  height: 100%;
  border-radius: 15px;

  object-fit: cover;
}

.bricks div:nth-child(1) {
  height: 400px;
}
.bricks div:nth-child(2) {
  height: 300px;
}
.bricks div:nth-child(3) {
  height: 500px;
}

.bricks div:nth-child(4) {
  height: 350px;
}
.bricks div:nth-child(5) {
  height: 200px;
}

.bricks div:nth-child(6) {
  height: 300px;
}
.bricks div:nth-child(7) {
  height: 250px;
}

.bricks div:nth-child(8) {
  height: 200px;
}
.bricks div:nth-child(9) {
  height: 400px;
}
.bricks div:nth-child(10) {
  height: 300px;
}
.bricks div:nth-child(11) {
  height: 200px;
}
footer {
  display: flex;
  justify-content: center;
  color: #8a8887;
  margin-bottom: 70px;
}

.first-line {
  display: flex;
  padding: 30px 0;
  text-transform: uppercase;
  justify-content: space-between;
  font-weight: 800;
  font-size: 13px;
}
.first-line .links a {
  margin-right: 30px;
}

.first-line .icons i {
  margin-right: 20px;
  font-size: 18px;
  cursor: pointer;
}
.first-line .icons i:hover {
  color: tomato;
}
.second-line {
  display: flex;
  padding: 30px 0;
  border-top: 1px solid rgba(211, 211, 211, 0.3);
  font-size: 14px;
}
.second-line div {
  margin-right: 10px;
}
.second-line div:last-child {
  font-size: 11px;
}

.status-bar {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgba(211, 211, 211, 0.3);
  background-color: #000;
}
.status-bar div {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  font-size: 20px;
}
/* 모바일 */
@media screen and (max-width: 767px) {
  .nav__right div {
    display: none;
  }
  .nav__right button {
    margin-left: 0;
    padding: 5px 10px;
  }
  nav {
    margin: 15px 10px 0 10px;
  }
  .signin-btn {
    background-color: #000;
    color: #fff;
  }
  .logo {
    width: 180px;
  }
  .bricks {
    max-height: calc(2000px);
  }
  .bricks div {
    width: 47%;
    margin: 0;
    margin-bottom: 10px;
  }
  .first-line {
    display: block;
  }
  .first-line .links a {
    display: block;
  }
  .first-line .icons {
    margin-top: 15px;
  }
  .status-bar {
    display: flex;
  }
}

/* 타블렛 */
@media screen and (max-width: 1023px) {
  .bricks {
    gap: 10px;
    margin: 0 20px;
  }
  .bricks div {
    margin: 0;
  }
  .first-line {
    display: block;
  }
  .first-line .links a {
    display: block;
  }
  .first-line .icons {
    margin-top: 15px;
  }
  .footer-container {
    width: 100%;
    margin: 20px;
  }
  .status-bar {
    display: flex;
  }
}
